My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7c31502a-277e-410f-8dc9-ceb78594f955",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://huggingface.co/api/models?sort=trendingScore&limit=10",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        144
      ],
      "id": "18686733-73d2-4791-bae4-f6946b18d4fe",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://medium.com/feed/tag/artificial-intelligence",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        -208
      ],
      "id": "11a9f0d2-16c6-4e1f-8761-ca919c276a6c",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=\"Artificial+Intelligence\"+when:24h&hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        -48
      ],
      "id": "30822faf-5c68-422e-b9f5-881bb294bb3b",
      "name": "RSS Read1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        -80
      ],
      "id": "7e3e06f3-e0b7-4e43-ac16-98f13b7acaea",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        176
      ],
      "id": "06df52b8-4177-45ff-920a-a7c5b630fe15",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Initialize our giant string\nlet combinedText = \"RAW AI DATA FOR ANALYSIS:\\n\\n\";\n\n// In n8n's JS environment, $input.all() gets the array of incoming items\nfor (const item of $input.all()) {\n  const data = item.json;\n  \n  // Safely extract the title (RSS uses 'title', HuggingFace uses 'id' or 'name')\n  const title = data.title || data.id || data.name || \"Unknown Title\";\n  \n  // Safely extract the link\n  let link = data.link || data.url;\n  if (!link && data.id) {\n      link = `https://huggingface.co/${data.id}`;\n  } else if (!link) {\n      link = \"Unknown Link\";\n  }\n  \n  // Safely extract the description/details\n  const description = data.contentSnippet || data.description || data.pipeline_tag || \"\";\n  \n  // Append it to our giant string\n  combinedText += `Title: ${title}\\nLink: ${link}\\nDetails: ${description}\\n---\\n`;\n}\n\n// Output a single item so Ollama only runs ONCE\nreturn [{ json: { compiled_research: combinedText } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        80
      ],
      "id": "d4d4b611-361e-4733-8be7-d42ed3e5c8cd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the data to analyze: {{ $json.compiled_research }}",
        "options": {
          "systemMessage": "You are a lead AI Researcher. Review the provided raw data. Identify and rank the top 10 most impactful AI trends, tools, or models. \n\nYou MUST return the output as a clean, valid JSON array containing exactly 10 objects. Use this exact structure:\n[\n  {\n    \"rank\": 1,\n    \"title\": \"Name\",\n    \"intro\": \"1-sentence summary\",\n    \"company\": \"Company Name\",\n    \"usecases\": [\"Case 1\", \"Case 2\", \"Case 3\"],\n    \"link\": \"URL\"\n  }\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1200,
        80
      ],
      "id": "55a62250-7a83-4924-ae40-aeea6ad05fc9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1120,
        304
      ],
      "id": "3b3bfb8e-07da-47ce-880e-7cbc43197110",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "O4lx2M3o3wV6RktT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        768,
        80
      ],
      "id": "05fadd1e-a4a8-4830-8949-2f519d279017",
      "name": "Limit"
    },
    {
      "parameters": {
        "sendTo": "huzaifagill283@gmail.com",
        "subject": "Top 10 Daily AI trends 🚀",
        "message": "=<h2>🚀 Your Daily AI Insights</h2>\n<hr>\n\n{{ \n  JSON.parse( $json.output.substring($json.output.indexOf('['), $json.output.lastIndexOf(']') + 1) ).map(item => \n    `<p><b>${item.rank}. <a href=\"${item.link}\">${item.title}</a></b> (${item.company})<br>\n    <i>${item.intro}</i><br>\n    💡 <b>Use Cases:</b> ${item.usecases.join(', ')}</p>`\n  ).join('')\n}}\n\n<hr>\n<p><i>Generated by Huzaifa Tariq's AI Agent.</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1552,
        80
      ],
      "id": "5dad676c-859c-431b-ad1a-7e06f4db7b2b",
      "name": "Send a message",
      "webhookId": "087bd472-5fb7-4292-8310-8a5438c717d5",
      "credentials": {
        "gmailOAuth2": {
          "id": "DWSDizNUpAwhoVMf",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0c6d422f-540f-4f70-9742-277f924c4984",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d65a9147a915d2a15b9c5d477bb06a03abfd6a8b817e9c9671dd4d253413b6a9"
  },
  "id": "xma3XRTTV1xoWHJv",
  "tags": []
}